a:link {
    text-decoration: none;
}
.profile-div {
    background-color: rgb(45, 54, 63);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-name {
    margin-left: 30px;
    color: white;
}

.profile-divider {
    background-color: white;
    height: 2px;
    width: 90%;
    margin: auto;
}

.profile-text {
    margin-left: 30px;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    
}

@media only screen and (min-width: 700px) { /* widescreen */
    
    .profile-div {
        justify-content: start;
        width: clamp(300px, 35vw, 500px);
    }

    .profile-pic {
         width: 90%;
         margin: auto;
    }
}

@media only screen and (max-width: 700px) { /* small screen
     */
    
    .profile-div {
        width: 100vw;
        
    }

    .profile-pic {
         height: clamp(50px, 90vw, 400px);
         margin: 0px auto;
    }
}