.addjob-div {
    background-color: lightgray;
}

.addjob-plus {
    width: 100%;
    text-align: center;
    background-color: rgb(160, 160, 160);
    color: white;
    font-size: 4em;
    margin: 10px 0px;
    border-style: none;
}

.addjob-form {
    
}