.addjob-div {
    background-color: lightgray;
    
}

.addjob-plus {
    width: 100%;
    text-align: center;
    background-color: rgb(160, 160, 160);
    color: white;
    font-size: 4em;
    margin: 10px 0px;
    border-style: none;
}

.addjob-form {
    opacity: 0;
    height: 0%;
}

.addjob-form[animation="1"] {
    animation: fade-in 3s both;
}

.addjob-form[animation="0"] {
    animation: fade-in 3s reverse;
}

@keyframes fade-in {
    0% { opacity: 0; height: 0px;}
    30% { opacity: 0; height: 160px;}
    100% { opacity: 1; height: 100%;}
}