ul {
    list-style: none;
    padding-left: 0px;
}

.jobslist-div {
    margin: 30px;
    padding: 30px;
    background-color: lightgray;
}

.jobslist-title {
    /*margin-left: 40px;*/
}

.jobslist-text {
    /*margin-left: 40px;*/
}