#editpage-div {
    display: flex;  
}

@media only screen and (min-width: 700px) { /* widescreen */
    #editpage-div {
      flex-direction: row;
    }
}

@media only screen and (max-width: 700px) { /* small screen */
  #editpage-div {
    flex-direction: column;
  }
}